In [1]:
import pandas as pd
import mysql.connector
from sqlalchemy import create_engine

In [2]:
bank_loan = "financial_loan.csv"   # change this to your CSV filename
df = pd.read_csv(bank_loan)
print(f"Loaded {len(df)} rows from CSV")

Loaded 38576 rows from CSV

In [5]:
user = "root"         
password = "root" # your MySQL password
host = "localhost"    # or IP address
database = "bank_loan_db"  # your database name

engine = create_engine(f"mysql+mysqlconnector://{user}:{password}@{host}/{database}")

In [ ]:
table_name = "bankloan"   # your table name

# If table already exists, replace it; or use 'append' to add data
df.to_sql(table_name, con=engine, if_exists="replace", index=False)

print("âœ… CSV data successfully imported into MySQL!")

In [8]:
&&select count(id) from bank_loan;

SyntaxError: invalid syntax (3586250468.py, line 1)

In [12]:
%%sql
SELECT COUNT(*) as total_rows FROM bank_loan;

UsageError: Cell magic `%%sql` not found.

In [11]:
%%sql
SELECT * FROM bank_loan LIMIT 5;

UsageError: Cell magic `%%sql` not found.

In [ ]:
%%